@model BanHangThoiTrangMVC.Models.EF.Product
@using Microsoft.AspNet.Identity;



<div id="tab_3" class="tab_container">
    <div class="row">

        <!-- User Reviews -->
        <div class="col-lg-6 reviews_col">
            <div class="tab_title reviews_title">
                <h4>Reviews(@Model.ParentComments.Count())</h4>
            </div>

            <!-- User Review -->
            @foreach (var item in Model.ParentComments)
            {
                <div class="user_review_container d-flex flex-column flex-sm-row">
                    <div class="user">
                        <div class="user_pic"></div>
                        <div class="user_rating">
                            <ul class="star_rating">
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="review">
                        <div class="user_name">@item.user_name</div>
                        <p class="review_date" style="font-size:smaller;margin-top:-20px">@item.Comment_Date</p>

                        <p>@item.Text</p>
                        <div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                var currentId = User.Identity.GetUserId();
                                if (currentId == item.user_id)
                                {
                                    using (Html.BeginForm("Delete_Comment", "Products", FormMethod.Post, new { }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="submit" name="id" value="@item.Id"><a class="btn btn-sm btn-danger">Xóa</a></button>
                                    }
                                }
                                <a style="text-decoration: none" asp-controller="Products" asp-action="Reply" asp-route-id="@item.Id">Trả lời</a>
                            }

                        </div>
                    </div>
                </div>
            }
            <!-- Add Review -->
            <h4>Your Rating:</h4>
            <ul class="user_star_rating">
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
            </ul>
            <div class="col-lg-6 add_review_col">
                <div class="add_review">
                    @if (TempData.ContainsKey("CommentError"))
                    {
                        <div class="alert alert-danger">@TempData["CommentError"]</div>
                    }
                    @if (TempData.ContainsKey("CommentSuccess"))
                    {
                        <div class="alert alert-success">@TempData["CommentSuccess"]</div>
                    }
                    @using (Html.BeginForm("Post", "Products", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("ProductId", Model.Id)

                        <div>
                            <textarea id="review_message" class="input_review" name="Text" placeholder="Your Review" rows="4" required data-error="Nhập bình luận của bạn!"></textarea>
                        </div>
                        <div class="text-left text-sm-right">
                            <button id="review_submit" type="submit" class="red_button review_submit_btn trans_300" value="Post">Gửi</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
